doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='UTF-8')
    title example
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    link(rel='stylesheet', href='styles.scss')
    meta(property='og:title', content='example')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://ofk.github.io/gh-pages-by-parcel/')
    meta(property='og:image', content='1200x630.png')
    meta(property='og:site_name', content='example')
    meta(property='og:description', content='description')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@ofk')

  body
    h1 example
    p
      a(href='other.pug') other
    p
      img(src='1200x630.png', width='600')
    p
      cite
        a(href='https://placehold.jp/') placehold.jp
